.App {
  text-align: center;
  display: flex;
}

#conteiner__collapses{
  width: 60%;
  border-right: 1px solid blueviolet;
}

.checkbox-collapse{
  display: none;
}

.checkbox-title-collapse{
  display: block;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.checkbox-collaps:checked + .checkbox-title-collapse{
  background-color: aqua;
}

.conteiner__collapse{
  width: 100%;
  border-bottom: 1px solid blueviolet;
  box-sizing: border-box;
}

@keyframes open {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes close {
  to{
    transform: translateY(-100%);
  }
  from{
    transform: translateY(0);
  }
}

@keyframes closeConteiner {
  to{
    height: 0;
  }
}

.visible-box-collapse, .hidden-box-collapse{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.visible-box-collapse > *:first-child,
.hidden-box-collapse > *:first-child
{
  position: relative;
  width: 100%;
}

.visible-box-collapse > *:first-child{
  animation: open 1s linear 0s 1;
}

.visible-box-collapse{
  height: auto;
}

.hidden-box-collapse{
  height: 0;
  animation: closeConteiner 1s linear 0s 1;
}

.hidden-box-collapse > *:first-child{
  transform: translateY(-100%);
  animation: close 1s linear 0s 1;
}

#formUpdCollapses{
  width: 40%;
  background-color: blanchedalmond;
  height: 100vh;
  position: fixed;
  right: 0;
}